<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "My Blog" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-50 font-serif text-gray-900">
    <!-- Site header -->
    <header class="bg-white border-b mb-8">
      <div class="max-w-3xl mx-auto px-4 py-4 text-center">
        <h1 class="text-2xl font-bold">
          <% if content_for?(:header) %>
            <%= yield(:header) %>
          <% else %>
            Jeremy Gates
          <% end %>
        </h1>
      </div>
    </header>

    <div class="max-w-3xl mx-auto px-4">
      <%= yield %>
    </div>
  </body>
</html>
